main {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 8rem);
}

/*FRETBOARD SECTION*/

.fretboard {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fret-numbers {
  list-style: none;
  display: flex;
  color: var(--energetic-orange);
  font-weight: 600;
}

.string {
  display: flex;
  position: relative;
}

.fret:nth-child(2) {
  border-right: 3px solid var(--dark-gray);
}

.fret {
  border-right: 1px solid var(--dark-gray);
}

.fret:first-child {
  font-weight: 600;
  border-right: none;
  color: var(--primary-blue);
}

/*Pseudo elements to make the fret guides*/

.third .fret:nth-child(5),
.third .fret:nth-child(7),
.third .fret:nth-child(9),
.third .fret:nth-child(11),
.third .fret:nth-child(14) {
  position: relative;
}

.third .fret:nth-child(5)::before,
.third .fret:nth-child(7)::before,
.third .fret:nth-child(9)::before,
.third .fret:nth-child(11)::before,
.third .fret:nth-child(14)::before {
  content: "";
  background-color: var(--neutral-gray);
  opacity: 0.7;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
}

/*Use of pseudo elements to make the strings*/

.first::before,
.second::before,
.third::before,
.fourth::before,
.fifth::before,
.sixth::before {
  content: "";
  background-color: var(--dark-gray);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 18rem;
  width: 108rem;
  z-index: -1;
}

.first::before {
  height: 0.1rem;
}

.second::before {
  height: 0.15rem;
}

.third::before {
  height: 0.2rem;
}

.fourth::before {
  height: 0.3rem;
}

.fifth::before {
  height: 0.35rem;
}

.sixth::before {
  height: 0.4rem;
}

/*Fret size*/

.fret-numbers > li,
.fret {
  font-size: 2.5rem;
  height: 5rem;
  width: 9rem;
  padding: 1rem 0;
  text-align: center;
  position: relative;
}

/*Fret notes styling*/

.fret-note,
.open-note,
.muted-string {
  display: inline-block;
  line-height: 1;
  border-radius: 50%;
  font-size: 2rem;
  height: 2.5rem;
  width: 2.5rem;
  font-weight: 600;
}

.fret-note {
  color: var(--pure-black);
  transform: translateY(-0.5rem);
}

.open-note {
  content: "";
  background-color: transparent;
  border: 2px solid var(--energetic-orange);
  transform: translateX(3rem);
}

.muted-string {
  color: var(--pure-black);
  transform: translateX(3rem);
  background-color: transparent;
}

.barre-element {
  content: "";
  background-color: var(--primary-blue);
  opacity: 0.8;
  position: absolute;
  height: 26rem;
  width: 2.5rem;
  border-radius: 20px;
  left: 50%;
  transform: translateX(-50%) translateY(6rem);
  display: inline;
}

/*PICKLIST SECTION*/

.picklist {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.roots,
.variations,
.positions,
.chords {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 0.5rem;
  list-style: none;
  margin: 1rem 2rem 2rem 2rem;
}

.root-note,
.position,
.chord-variation {
  font-size: 2rem;
  height: 5.5rem;
  width: 10rem;
  padding: 1.5rem 0;
  text-align: center;
  background-color: var(--dark-gray);
  color: var(--light-gray);
}

.root-note:hover,
.chord-variation:hover,
.position:hover {
  cursor: pointer;
}

.active-root,
.active-variation,
.active-progression {
  background-color: var(--higlight-yellow);
  color: var(--dark-gray);
  border: 2px solid var(--dark-gray);
  font-weight: 600;
}
