.progression {
  font-size: 1.5rem;
  height: 7rem;
  width: 20rem;
  padding: 2rem 0;
  text-align: center;
  background-color: var(--dark-gray);
  color: var(--light-gray);
}

.progression-chord {
  font-size: 1rem;
  height: 4rem;
  width: 10rem;
}

.progression:hover {
  cursor: pointer;
}

.chords {
  border: 1px solid red;
}
